[Unit]
Description=Start motion detection.
After=multi-user.target

[Service]
User=pi
Restart=always
ExecStart=/usr/bin/python home/pi/assistant-helper/motion/pir.py --sensorpin 18

[Install]
WantedBy=multi-user.target
